.header_container {
  width: 100%;
  background-color: black;
  height: 50px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.header_content {
  border: 1px solid red;
  padding-left: 5%;
  padding-right: 7%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

ul.menu_menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150%;
}

.menu_menu > li {
  width: 28%;
  display: inline-block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
